{% extends 'base.html' %}

{%block title%}
My Family Bank
{%endblock%}

{% block body %}

<form action="" method="post">
  <h2 class="text-center mb-5">Sign Up</h2>
  <div class="form-floating">
    <input type="email" class="form-control" id="email" placeholder="email address" autocomplete="off">
    <label for="email">Email Address</label>
  </div>
  <button type="submit" class="btn btn-lg btn-primary w-100 mt-3">Submit</button>
</form>

{% endblock %}